.underlyingCausesContainer {
    background-color: var(--primary-color);
    padding: 4rem 0 5rem 0;
  }

  .underlyingCardContainer {
    border-width: 1px;
    border-color: var(--secondary-color);
  }

  .underlyingCauses {
    color: var(--primary-blue-lightest-color)
  }